extends layout

block content
	h1= title
	.container
		.row
			- for (var product in data)
				.col-md-4.item
					a(href="/products/"+product)
						img.img-fluid(src=data[product].image, alt="")
					p=data[product].name
					p=data[product].code
					p=data[product].price
